.vue-toggle-switch-el {
    font-family: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    user-select: none;
}
.vue-toggle-switch-handle {
    position: absolute;
    width: 50%;
}
@media (hover:hover) {
    .vue-toggle-switch-handle:hover {
        filter: brightness(.9);
        cursor: pointer;
    }
    .vue-toggle-switch-handle:active {
        cursor: grabbing;
    }
}
.vue-toggle-switch-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    pointer-events: none;
}